@import '../../responsive.scss';

.slider{
    width: 100%;
    height: 400px;
    display: flex;
    gap: 20px;
    @include sm{
        height: 300px;
      }
    .fullScreenSlider{
        position: absolute;
        background-color: black;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            border-radius: 0%;
        }
        .close{
            position: absolute;
            right: 30px;
            top: 20px;
            font-size: 35px;
            color: white;
            cursor: pointer;
        }   
        .imgContainer{
            flex: 10;
        }
        .arrowContainer{
            flex: 1;
            display: flex;
            justify-content: center;
            img{
                cursor: pointer;
                width: 50px;
                &.rightArrow{
                transform: rotate(180deg);

                }
            }
         
           
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5%;
        cursor: pointer;
        
    }
    .main_image{
        flex: 3 ;
        
    }
    .images{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        img{
            height: 100px;
             @include sm{
                // height: 80px;
              }
        }

    }
}